#current-word {
    text-decoration: underline;
    clear: both;
}

.letter {
    border-bottom-style: solid;
    float:left; 
    margin-left: 10px;
    padding: 0;
}

p {
    margin: 0;
    font-size: 20px;
}


